In [121]:
#En caso de que sean variables categóricas reemplazar por el valor “others”
import pandas as pd
dataset1 = pd.read_csv("BankChurners.csv")

#### A) c)

#### Reemplazo de valores nulos de variables categoricas a 'Others'

In [122]:
dataset1.loc[dataset1.Education_Level == 'Unknown', 'Education_Level'] = 'Others'
dataset1.loc[dataset1.Marital_Status == 'Unknown', 'Marital_Status'] = 'Others'
dataset1.loc[dataset1.Income_Category == 'Unknown', 'Income_Category'] = 'Others'

In [123]:
### Seleccion de columnas categoricas
categorical = [ 'Attrition_Flag', 'Customer_Age', 'Gender',
        'Education_Level', 'Marital_Status',
        'Card_Category']

In [124]:
target = .95

valid_columns = []
columns_many_level = []
columns_one_level = []

for c_ in categorical:
   x = dataset1.loc[ :, [c_]].drop_duplicates()
   unique_values = x.shape[0]

   if unique_values == 1:
    columns_one_level.append(c_)
   elif (unique_values/dataset1.shape[0]) > target :
      columns_many_level.append(c_)
   else:
      valid_columns.append(c_)

In [125]:
categorical

['Attrition_Flag',
 'Customer_Age',
 'Gender',
 'Education_Level',
 'Marital_Status',
 'Card_Category']

#### Tratamiento columna 'Customer_Age'

In [126]:
freq_customer_age = dataset1.groupby(["Customer_Age"], as_index=False).agg({"CLIENTNUM": ["count"]})
freq_customer_age.columns = freq_customer_age.columns.droplevel(1)
freq_customer_age['Percentage'] = freq_customer_age['CLIENTNUM'] / dataset1.shape[0]
freq_customer_age['Customr_Age'] = 'Others'
freq_customer_age['Customr_Age'] = freq_customer_age.apply(lambda r: r['Customer_Age'] if r['Percentage'] > 0.0303 else 'Others', axis=1)
freq_customer_age.sort_values(['Percentage'], ascending=False)
freq_customer_age = freq_customer_age.loc[:, ['Customer_Age', 'Customr_Age']]
dataset1.merge(freq_customer_age, on='Customer_Age', how='left')

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,Customr_Age
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910,45
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940,49
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980,51
3,769911858,Existing Customer,40,F,4,High School,Others,Less than $40K,Blue,34,...,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870,40
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810,50
10123,710638233,Attrited Customer,41,M,2,Others,Divorced,$40K - $60K,Blue,25,...,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729,41
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118,44
10125,717406983,Attrited Customer,30,M,2,Graduate,Others,$40K - $60K,Blue,36,...,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294,Others
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377,43

#### Tratamiento columna 'Card_Category'

In [127]:
freq_card = dataset1.groupby(["Card_Category"], as_index=False).agg({"CLIENTNUM": ["count"]})
freq_card.columns = freq_card.columns.droplevel(1)
freq_card['Percentage'] = freq_card['CLIENTNUM'] / dataset1.shape[0]
freq_card['Card_Catg'] = 'Others'
freq_card['Card_Catg'] = freq_card.apply(lambda r: r['Card_Category'] if r['Percentage'] > 0.0303 else 'Others', axis=1)
freq_card.sort_values(['Percentage'], ascending=False)
freq_card = freq_card.loc[ : , ['Card_Category', 'Card_Catg' ]]
dataset1.merge(freq_card, on=['Card_Category'], how='left')

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,Card_Catg
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910,Blue
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940,Blue
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980,Blue
3,769911858,Existing Customer,40,F,4,High School,Others,Less than $40K,Blue,34,...,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870,Blue
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980,Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810,Blue
10123,710638233,Attrited Customer,41,M,2,Others,Divorced,$40K - $60K,Blue,25,...,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729,Blue
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118,Blue
10125,717406983,Attrited Customer,30,M,2,Graduate,Others,$40K - $60K,Blue,36,...,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294,Blue
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377,Silver

#### Tratamiento columna 'Education_Level'

In [128]:
freq_education = dataset1.groupby(["Education_Level"], as_index=False).agg({"CLIENTNUM": ["count"]})
freq_education.columns = freq_education.columns.droplevel(1)
freq_education['Percentage'] = freq_education['CLIENTNUM'] / dataset1.shape[0]
freq_education['Edu_Lvl'] = 'Others'
freq_education['Edu_Lvl'] = freq_education.apply(lambda r: r['Edu_Lvl'] if r['Percentage'] > 0.0303 else 'Others', axis=1)
freq_education.sort_values(['Percentage'], ascending=False)
freq_education = freq_education.loc[ : , ['Education_Level', 'Edu_Lvl' ]]
dataset1.merge(freq_education, on=['Education_Level'], how='left')

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,Edu_Lvl
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910,Others
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940,Others
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980,Others
3,769911858,Existing Customer,40,F,4,High School,Others,Less than $40K,Blue,34,...,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870,Others
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980,Others
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810,Others
10123,710638233,Attrited Customer,41,M,2,Others,Divorced,$40K - $60K,Blue,25,...,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729,Others
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118,Others
10125,717406983,Attrited Customer,30,M,2,Graduate,Others,$40K - $60K,Blue,36,...,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294,Others
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377,Others

#### Tratamiento columna 'Gender'

In [ ]:
freq_gender = dataset1.groupby(["Gender"], as_index=False).agg({"CLIENTNUM": ["count"]})
freq_gender.columns = freq_gender.columns.droplevel(1)
freq_gender['Percentage'] = freq_gender['CLIENTNUM'] / dataset1.shape[0]
freq_gender['Gender_T'] = 'Others'
freq_gender['Gender_T'] = freq_gender.apply(lambda r: r['Gender_T'] if r['Percentage'] > 0.0303 else 'Others', axis=1)
freq_gender.sort_values(['Percentage'], ascending=False)
freq_gender = freq_gender.loc[ : , ['Gender', 'Gender_T' ]]
dataset1.merge(freq_gender, on=['Gender'], how='left')

#### Tratamiento columna 'Marital_Status'

In [144]:
freq_marital = dataset1.groupby(["Marital_Status"], as_index=False).agg({"CLIENTNUM": ["count"]})
freq_marital.columns = freq_marital.columns.droplevel(1)
freq_marital['Percentage'] = freq_marital['CLIENTNUM'] / dataset1.shape[0]
freq_marital['Marital_St'] = 'Others'
freq_marital['Marital_St'] = freq_marital.apply(lambda r: r['Marital_St'] if r['Percentage'] > 0.389 else 'Others', axis=1)
freq_marital = freq_marital.loc[ : , ['Marital_Status', 'Marital_St' ]]
freq_marital.sort_values(['Percentage'], ascending=False)

KeyError: 'Percentage'