In [4]:
#En caso de que sean variables categóricas reemplazar por el valor “others”
import pandas as pd
dataset1 = pd.read_csv("BankChurners.csv")

#### A) c)

#### Reemplazo de valores nulos de variables categoricas a 'Others'

In [119]:
dataset1.loc[dataset1.Education_Level == 'Unknown', 'Education_Level'] = 'Others'
dataset1.loc[dataset1.Marital_Status == 'Unknown', 'Marital_Status'] = 'Others'
dataset1.loc[dataset1.Income_Category == 'Unknown', 'Income_Category'] = 'Others'

In [13]:
### Seleccion de columnas categoricas
categorical = [ 'Attrition_Flag', 'Customer_Age', 'Gender',
        'Education_Level', 'Marital_Status',
        'Card_Category']

In [33]:
target = .95

valid_columns = []
columns_many_level = []
columns_one_level = []

for c_ in categorical:
   x = dataset1.loc[ :, [c_]].drop_duplicates()
   unique_values = x.shape[0]

   if unique_values == 1:
    columns_one_level.append(c_)
   elif (unique_values/dataset1.shape[0]) > target :
      columns_many_level.append(c_)
   else:
      valid_columns.append(c_)

In [120]:
categorical

['Attrition_Flag',
 'Customer_Age',
 'Gender',
 'Education_Level',
 'Marital_Status',
 'Card_Category']

#### Tratamiento columna 'Customer_Age'

In [ ]:
freq_customer_age = dataset1.groupby(["Customer_Age"], as_index=False).agg({"CLIENTNUM": ["count"]})
freq_customer_age.columns = freq_customer_age.columns.droplevel(1)
freq_customer_age['Percentage'] = freq_customer_age['CLIENTNUM'] / dataset1.shape[0]
freq_customer_age['Customr_Age'] = 'Others'
freq_customer_age['Customr_Age'] = freq_customer_age.apply(lambda r: r['Customer_Age'] if r['Percentage'] > 0.0303 else 'Others', axis=1)
freq_customer_age.sort_values(['Percentage'], ascending=False)
freq_customer_age = freq_customer_age.loc[:, ['Customer_Age', 'Customr_Age']]
dataset1.merge(freq_customer_age, on='Customer_Age', how='left')

#### Tratamiento columna 'Card_Category'

In [ ]:
freq_card = dataset1.groupby(["Card_Category"], as_index=False).agg({"CLIENTNUM": ["count"]})
freq_card.columns = freq_card.columns.droplevel(1)
freq_card['Percentage'] = freq_card['CLIENTNUM'] / dataset1.shape[0]
freq_card['Card_Catg'] = 'Others'
freq_card['Card_Catg'] = freq_card.apply(lambda r: r['Card_Category'] if r['Percentage'] > 0.0303 else 'Others', axis=1)
freq_card.sort_values(['Percentage'], ascending=False)
freq_card = freq_card.loc[ : , ['Card_Category', 'Card_Catg' ]]
dataset1.merge(freq_card, on=['Card_Category'], how='left')

#### Tratamiento columna 'Education_Level'

In [ ]:
freq_education = dataset1.groupby(["Education_Level"], as_index=False).agg({"CLIENTNUM": ["count"]})
freq_education.columns = freq_education.columns.droplevel(1)
freq_education['Percentage'] = freq_education['CLIENTNUM'] / dataset1.shape[0]
freq_education['Edu_Lvl'] = 'Others'
freq_education['Edu_Lvl'] = freq_education.apply(lambda r: r['Edu_Lvl'] if r['Percentage'] > 0.0303 else 'Others', axis=1)
freq_education.sort_values(['Percentage'], ascending=False)
freq_education = freq_education.loc[ : , ['Education_Level', 'Edu_Lvl' ]]
dataset1.merge(freq_education, on=['Education_Level'], how='left')

#### Tratamiento columna 'Gender'

In [94]:
freq_gender = dataset1.groupby(["Gender"], as_index=False).agg({"CLIENTNUM": ["count"]})
freq_gender.columns = freq_gender.columns.droplevel(1)
freq_gender['Percentage'] = freq_gender['CLIENTNUM'] / dataset1.shape[0]
freq_gender['Gender_T'] = 'Others'
freq_gender['Gender_T'] = freq_gender.apply(lambda r: r['Gender_T'] if r['Percentage'] > 0.0303 else 'Others', axis=1)
freq_gender.sort_values(['Percentage'], ascending=False)
freq_gender = freq_gender.loc[ : , ['Gender', 'Gender_T' ]]
dataset1.merge(freq_gender, on=['Gender'], how='left')

  Gender CLIENTNUM
             count
0      F      5358
1      M      4769

#### Tratamiento columna 'Marital_Status'

(10127, 23)

In [ ]:
target = .95

valid_columns = []
columns_many_level = []
columns_one_level = []

for c_ in categorical:
   x = dataset1.loc[ :, [c_]].drop_duplicates()
   unique_values = x.shape[0]

   if unique_values == 1:
    columns_one_level.append(c_)
   elif (unique_values/dataset1.shape[0]) > target :
      columns_many_level.append(c_)
   else:
      valid_columns.append(c_)

In [99]:
dataset1.loc[dataset1.Education_Level == 'Unknown', 'Education_Level'] = 'Others'
dataset1.loc[dataset1.Marital_Status == 'Unknown', 'Marital_Status'] = 'Others'
dataset1.loc[dataset1.Income_Category == 'Unknown', 'Income_Category'] = 'Others'
dataset1.to_csv("BankChurners2.csv", index=False)